<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="testConfiguration" type="Affecto.Configuration.Extensions.Tests.TestConfigurationSection, Affecto.Configuration.Extensions.Tests" />
  </configSections>

  <testConfiguration>
    <testElements>
      <testElement key="first" value="1st" />
      <testElement key="second" />
      <testElement key="third" value="3rd" />
    </testElements>
    <emptyElements />
  </testConfiguration>
  
</configuration>